@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(270, 3%, 87%);
    font-family: 'Outfit', sans-serif;
}

.header {
    background-image: url("../assets/bg-main-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;

    .cards {
        width: 100%;
        height: 100%;
        max-width: 650px;
        position: relative;
        margin: 0 auto;
        .card {
            width: 300px;
            height: 170px;
            position: absolute;
            border-radius: 10px;

            .card-img {
                width: 100%;
                height: auto;
                box-shadow: 0 0 20px rgb(30, 30, 30);
                border-radius: 10px;
            }
        }

        .card.card-back {
            top: 30px;
            right: 15px;
            z-index: 98;
            
            #cvc-text {
                position: absolute;
                top: 48%;
                right: 10%;
                transform: translateY(-48%) translateX(-10%);
                font-size: 1rem;
                color: hsl(0, 0%, 100%);
            }
        }

        .card.card-front {
            bottom: -45px;
            left: 15px;
            z-index: 99;
            
            #number-text, #name-text, #mm-yy-text, .card-logo {
                position: absolute;
                color: hsl(0, 0%, 100%);
            }

            .card-logo {
                width: 50px;
                top: 15px;
                left: 15px;
            }

            #number-text {
                top: 60%;
                left: 50%;
                transform: translateY(-60%) translateX(-50%);
                width: 100%;
                font-size: 1.2rem;
                text-align: center;
                letter-spacing: 0.2em;
            }

            #name-text {
                font-size: 0.8rem;
                bottom: 20%;
                left: 5%;
            }

            #mm-yy-text {
                font-size: 0.8rem;
                bottom: 20%;
                right: 5%;
            }
        }
    }
}

.main {
    display: block;
    width: 100%;
    height: calc(100vh - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
    #form-card {
        width: 100%;
        padding: 10px 20px;
    }
}

.form-input {
    border-bottom: 1px solid hsl(278, 68%, 11%);
    border-radius: 0;
    margin-bottom: 20px;
    padding: 5px 15px;
    position: relative;
    transition: ease-in-out 0.3s all;
    
    input {
        width: 100%;
        margin: 0;
        background-color: transparent;
        font-size: 1.2rem;
        font-weight: 500;
        display: block;
        border: none;
        outline: none;
        color: hsl(279, 6%, 55%);

        &::-webkit-input-placeholder {
            color:transparent;
        }
         
        &::-moz-placeholder { /* Firefox 18- */
        color:transparent; 
        }
         
        &::-moz-placeholder {  /* Firefox 19+ */
        color:transparent; 
        }
         
        &::-ms-input-placeholder {  
        color:transparent;
        }
    }
    label {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: hsl(279, 6%, 55%);
    }
}

.form-input.active {
    border-bottom: 1px solid hsl(249, 99%, 64%);
    label {
        top: -7px;
        left: 0;
        transform: translateY(-7px);
        color: hsl(278, 68%, 11%);
        font-weight: 600;
    }
    input {
        color: hsl(249, 99%, 64%);
    }
}